<!-- <p>contact-us works!</p> -->
<div class="app-content">
    <div>
        <main class="gsc_container contactpage">
            <div class="breadcrumb">
                <a href="/" title="Home" rel="noopener">Home</a> Contact Us
            </div>
            <h1>Contact Us</h1>
            <div class="shadow24">
                <div class="gsc_row">
                    <div class="callcontacts">
                        <span class="call">E-Mail</span>
                        <div class="emaillinks">
                            <a href="mailto:support@btechCars.com" title="support@btechCars.com" rel="noopener">support&#64;btechCars.com</a>
                        </div>
                    </div>
                    <div id="formDiv" class="contactform">
                        <div>
                            <div class="title">
                                <p>Let Us Contact You</p>
                            </div>
                            <form action="FeedbackPopup" method="get">
                                <div class="inputfield">
                                    <label for="cdFBCityName">City</label>
                                    <input type="text" id="cdFBCityName" name="cdFBCityName" />
                                </div>
                                <div class="inputfield">
                                    <textarea name="comment" placeholder="Please share your feedback."></textarea>
                                </div>
                                <div class="inputfield">
                                    <label>Upload .jpg, .png files only.</label>
                                    <input type="file" name="files" accept="image/*" />
                                </div>
                                <div class="checkFormBox">
                                    <label>
                                        <input type="checkbox" name="termsConditionsField" checked /> I agree to <a href="/info/terms_and_condition">Terms & Conditions</a>
                                    </label>
                                </div>
                                <button type="submit" class="button">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
        </main>
    </div>
    <div class="gsc_col-md-12">
        <div class="shadow24 contactaddress">
          <section class="gsc_rows">
            <h2>Business with BtechMartCars</h2>
            <ul>
              <li class="contact-item">
                <div class="callcontact mailcontact">
                  <span class="call">E-Mail</span>
                  <div class="emaillink">
                    <a href="mailto:support@btechCars.com" title="support@btechcars.com" rel="noopener">support&#64;btechcars.com</a>
                  </div>
                </div>
              </li>
              <li class="contact-item">
                <div class="callcontact mailcontact delrsolution">
                  <span class="call">Used Cars Business</span>
                  <div class="emaillink">
                    <a href="/usedcardealerinquiry" title="Become Partner Dealer" rel="noopener">Become Partner Dealer</a>
                  </div>
                </div>
              </li>
            </ul>
          </section>
          <section class="ourofficdetail">
            <div class="title">Our Offices</div>
            <ul>
              <li class="office-item">
                <div class="subtitle">Jaipur Office</div>
                <address>
                  Girnar Software Pvt. Ltd.,<br />
                  JTM, Model Town, Near Jagatpura Flyover,<br />
                  Jaipur -302017
                </address>
              </li>
              <li class="office-item">
                <div class="subtitle">Gurugram Office</div>
                <address>
                  9th Floor, M3M International Financial Center,<br />
                  Golf Course Ext. Rd, Badshahpur, Sector 66,<br />
                  Gurugram, Haryana 122002.
                </address>
              </li>
            </ul>
          </section>
        </div>
      </div>
</div>