<div class="conatiner">
  <section class="testimonials">
    <div class="wrapper">
      <div class="section-header">
        <div class="title-icons">
          <img src="https://cdn-icons-png.flaticon.com/128/14044/14044164.png" alt="Icon" class="icon icon-left" />
          <h1 class="title-1">OUR HAPPY CUSTOMERS</h1>
          <img src="https://cdn-icons-png.flaticon.com/128/14044/14044164.png" alt="Icon" class="icon" />
        </div>
        <h1 class="title">What Customer says</h1>
      </div>
        
        
  
      <div class="testimonial-content">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="swiper-slide testimonial-item">
              <div class="info">
                <img src="https://img.freepik.com/free-photo/young-bearded-man-with-striped-shirt_273609-5677.jpg?ga=GA1.1.1696097878.1729366522&semt=ais_hybrid" alt="" />
                <div class="name-job">
                  <h3 class="name">Rosy</h3>
                  <span class="job">Web Developer</span>
                </div>
              </div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Maiores vitae non pariatur perspiciatis tempore corporis!
              </p>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="swiper-slide testimonial-item">
              <div class="info">
                <img src="https://img.freepik.com/free-photo/handsome-smiling-man-looking-with-disbelief_176420-19591.jpg?ga=GA1.1.1696097878.1729366522&semt=ais_hybrid" alt="" />
                <div class="name-job">
                  <h3 class="name">John</h3>
                  <span class="job">Web Developer</span>
                </div>
              </div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Maiores vitae non pariatur perspiciatis tempore corporis!
              </p>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="swiper-slide testimonial-item">
              <div class="info">
                <img src="https://www.shutterstock.com/image-photo/young-brazilian-man-isolated-on-260nw-2242569333.jpg" alt="" />
                <div class="name-job">
                  <h3 class="name">Laila</h3>
                  <span class="job">Web Developer</span>
                </div>
              </div>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Maiores vitae non pariatur perspiciatis tempore corporis!
              </p>
              <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </section>
</div>



