<header>
  <div class="logo" [routerLink]="['/']">
    <img src="https://btechmart.com/assets/images/logo001.png" alt="Btechcars Logo">
  </div>
  

  <div class="search-box">
    <select>
      <option value="">All</option>
      <option value="cars">Cars</option>
      <option value="bikes">Bikes</option>
      <option value="aircrafts">Aircrafts</option>
      <option value="yachts">Yachts</option>
      <option value="cranes">Cranes</option>
      <option value="light-commercial">Light Commercial Vehicles</option>
      <option value="heavy-commercial">Heavy Commercial Vehicles</option>

    </select>
    <input type="text" placeholder="Search your dream vehicle...">
    <i class="fas fa-search"></i>
  </div>

  <div class="actions">
    <button><i class="fas fa-wrench"></i> Book Vehicle Service</button>
    <button><i class="fas fa-car-side"></i> Explore Used Cars</button>
  </div>
  <!-- <a class="loginText" (click)="gotoLogIn()">Login/Signup</a> -->
  <a class="loginText" (click)="gotoLogIn()">
    <i class="fas fa-user"></i>
  </a>
  
</header>

<nav>
  <ul class="forMobile">
    <li>
      <span class="dropdown-toggle" id="dropdownMenuLink2" data-bs-toggle="dropdown" aria-expanded="false">Brands</span>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </li>
    <li>
      <span class="dropdown-toggle" id="dropdownMenuLink2" data-bs-toggle="dropdown" aria-expanded="false">Cars</span>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </li>
    <li>
      <span class="dropdown-toggle" id="dropdownMenuLink2" data-bs-toggle="dropdown" aria-expanded="false">Bikes</span>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLinkBikes">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </li>
    <li>
      <span class="dropdown-toggle" id="dropdownMenuLink2" data-bs-toggle="dropdown" aria-expanded="false">Aircrafts</span>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLinkBikes">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </li>
    <li>
      <span class="dropdown-toggle" id="dropdownMenuLink2" data-bs-toggle="dropdown" aria-expanded="false">Yachts</span>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLinkBikes">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </li>
    <li>
      <span class="dropdown-toggle" id="dropdownMenuLink2" data-bs-toggle="dropdown" aria-expanded="false">Cranes</span>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLinkBikes">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </li>
    <li>
      <span class="dropdown-toggle" id="dropdownMenuLink2" data-bs-toggle="dropdown" aria-expanded="false">Light Commercial Vehicles</span>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLinkBikes">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </li>
    <li>
      <span class="dropdown-toggle" id="dropdownMenuLink2" data-bs-toggle="dropdown" aria-expanded="false">Heavy Commercial Vehicles</span>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLinkBikes">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </li>
  </ul>
</nav>