<!-- <section class="container">
    <div class="container" style="position: relative; bottom: -48px;">
        <div class="row">
            <div class="col-8" style="padding: 0px;">
                <div class="left-section">
                   <div class="row">
                    <div class="col-8" style="padding: 0px;">
                        <p>Problem with your car? Don’t worry, we can help you. Feel free to contact with our team!</p>
                        <h2>1800-123-4567</h2>
                        <button class="btn">Book Now</button>
                    </div>
                    <div class="col-4" style="padding: 0px;">
                        <div class="mechanic-image">
                            <img src="../../../assets/img/men2.png" alt="Mechanic" />
                        </div>
                    </div>
                   </div>
                </div>
            </div>
            <div class="col-4" style="padding: 0px;z-index: 1;">
                <div class="right-section">
                    <h2>SUBSCRIBE FOR OFFER & DEALS</h2>
                    <input type="email" placeholder="Enter your email address">
                    <button>Subscribe</button>
                    
                </div>
            </div>
        </div>
    </div>    
</section> -->

<footer>
    <div class="footer-container">
        <div class="row">
            <div class="col-md-3">
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected.</p>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected.</p>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 col-6">
                        <ul>
                            <li><a routerLink="/about"><i class="fa-sharp fa-solid fa-caret-right"></i> About Us</a></li>  
                            <li><a href="#"><i class="fa-sharp fa-solid fa-caret-right"></i> Brands</a></li>
                            <li><a href="#"><i class="fa-sharp fa-solid fa-caret-right"></i> Success Stories</a></li>
                            <li><a href="#"><i class="fa-sharp fa-solid fa-caret-right"></i> Press Section</a></li>
                            <li><a routerLink="/term-condition"><i class="fa-sharp fa-solid fa-caret-right"></i> Terms And Conditions</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-6">
                        <ul>
                            <li><a href="#"><i class="fa-sharp fa-solid fa-caret-right"></i> Help</a></li>
                            <li><a routerLink="/feedback"><i class="fa-sharp fa-solid fa-caret-right"></i> Feedback</a></li>
                            <li><a routerLink="/complaint"><i class="fa-sharp fa-solid fa-caret-right"></i> Complaints</a></li>
                            <li><a href="#"><i class="fa-sharp fa-solid fa-caret-right"></i> Customer Care</a></li>
                            <li><a href="#"><i class="fa-sharp fa-solid fa-caret-right"></i> Disclaimers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-6">
                        <ul>
                            <li><a href="#"><i class="fa-sharp fa-solid fa-caret-right"></i> Vehicle Services</a></li>
                            <li><a href="#"><i class="fa-sharp fa-solid fa-caret-right"></i> Used Vehicle</a></li>
                            <li><a href="#"><i class="fa-sharp fa-solid fa-caret-right"></i> New Vehicle</a></li>
                            <li><a routerLink="/careers"><i class="fa-sharp fa-solid fa-caret-right"></i> Jobs & Careers</a></li>
                            <li><a routerLink="/policy"><i class="fa-sharp fa-solid fa-caret-right"></i> Privacy Policy</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-6">
                        <ul>
                            <li><a routerLink="/contact-us"><i class="fa-sharp fa-solid fa-caret-right"></i> Contact Us</a></li>
                            <li><a href="#"><i class="fa-sharp fa-solid fa-caret-right"></i> Post Your Requirement</a></li>
                            <li><a href="#"><i class="fa-sharp fa-solid fa-caret-right"></i> Products You Buy</a></li>
                            <li><a href="#"><i class="fa-sharp fa-solid fa-caret-right"></i> Legal</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <h4>Follow Us On Social</h4>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="back-to-top" onclick="scrollToTop()"><i class="fas fa-arrow-up"></i></div>

    <div class="footer2">
        <p>&copy; 2024 Btechcars. All Rights Reserved.</p>
    </div>
</footer>
