
<div class="background-container">
  <h2>INDIA'S LEADING CONSTRUCTION EQUIPMENT FOR SALE</h2>
  <div class="card-container">
      <div class="card">
          <img src="https://5.imimg.com/data5/SELLER/Default/2023/6/319245589/XL/HQ/XX/82413696/jcb-backhoe-loader-250x250.png" alt="Backhoe Loader">
          <p>Backhoe Loader</p>
      </div>

      <div class="card">
          <img src="https://5.imimg.com/data5/SELLER/Default/2023/6/319245589/XL/HQ/XX/82413696/jcb-backhoe-loader-250x250.png" alt="Wheel Loader">
          <p>Wheel Loader</p>
      </div>

      <div class="card">
          <img src="https://5.imimg.com/data5/SELLER/Default/2023/6/319245589/XL/HQ/XX/82413696/jcb-backhoe-loader-250x250.png" alt="Excavator">
          <p>Excavator</p>
      </div>
      <div class="card">
          <img src="https://5.imimg.com/data5/SELLER/Default/2023/6/319245589/XL/HQ/XX/82413696/jcb-backhoe-loader-250x250.png" alt="Transit Mixer">
          <p>Transit Mixer</p>
      </div>
  </div>
</div>